@charset "UTF-8";
@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-v25-latin-regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.jst-center {
  justify-content: center;
}

.jst-end {
  justify-content: end;
}

.jst-berween {
  justify-content: space-evenly;
}

.m-t-43 {
  margin-top: 43px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-38 {
  margin-top: 38px;
}

.m-t-7 {
  margin-top: 7px;
}

.m-t-11 {
  margin-top: 11px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mx-my-0 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.slide-text-center {
  text-align: center;
}

.font-lg-header, .h-caption__row1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.font-md-header, .h-caption__row2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.font-sm, .card-slide .card-info-step__sm-text {
  font-size: 0.9rem;
  font-weight: 300;
  color: #fff;
}

.font-button, .block-search .row-search__btn, .button__red {
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
}

.font-name, .footer .block-footer .col-footer_col2-3-header, .card-partner .name {
  font-size: 0.8rem;
  font-weight: 700;
  color: #444;
}

.font-country, .card-partner .country {
  font-size: 0.8rem;
  font-weight: 300;
  color: #444;
}

.font-bg-slider, .block-img .row-img__text, .card-slide .card-info-step__big-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.font-button-slider, .card-slide .card-info-step__btn {
  font-size: 0.6rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}

.font-row-caption, .row-caption {
  font-size: 1.6rem;
  font-weight: 700;
  color: #444;
}

.font-nav {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
}

.font-nav-logo, .h-caption__rowdream {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.font-search {
  font-family: Roboto, system-ui, -apple-system, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.font-search-edit, .block-search .row-search__inp-interest {
  font-family: Roboto, system-ui, -apple-system, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

body {
  font-family: "Montserrat";
  font-size: 3rem;
}

.header {
  width: 100lw;
  height: 700px;
  background-color: #000;
  position: relative;
}
.header .carousel {
  position: absolute;
  height: 700x;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-size: cover;
          mask-size: cover;
}
.header .carousel .carousel-item {
  height: 700px;
  width: 100%;
}
.header .carousel .carousel-item .img-attr {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-image: linear-gradient(360deg, #FF4E50 0%, #F9D423 100%);
          mask-image: linear-gradient(360deg, #FF4E50 0%, #F9D423 100%);
}
.header .carousel .carousel-item .img-attr_opacity-80 {
  opacity: 0.8;
}
.header .carousel .carousel-item .img-attr_opacity-70 {
  opacity: 0.7;
}
.header .carousel .carousel-item .img-attr_opacity-60 {
  opacity: 0.6;
}
.header .carousel .carousel-item .img-attr_opacity-50 {
  opacity: 0.5;
}

.color-red, .button__red {
  background-color: #FF4E50;
  color: #fff;
}

.color-white, .button__white {
  background-color: #fff;
  color: #000;
}

.button {
  height: 40px;
  width: 225px;
  border: 0;
  border-radius: 40px;
}
.menu-box {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.h-caption {
  width: 100%;
  color: #fff;
  position: absolute;
}
.h-caption__rowdream {
  margin-top: 97px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
.h-caption__row1 {
  margin-top: 154px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
.h-caption__row2 {
  margin-top: 30px;
  text-align: center;
  color: #F7F3F2;
  width: 100%;
}
.h-caption__row3 {
  margin-top: 33px;
  display: flex;
  justify-content: center;
}

.container-main {
  width: 940px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.row-caption {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.row-caption_m-top-header {
  margin-top: 95px;
}
.row-caption_m-top-button {
  margin-top: 26px;
}

.row-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  position: relative;
}

.row-slide {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
}

.card-slide {
  width: 32%;
  height: 400px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 4px;
  margin: 10px auto;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-slide .carousel {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-size: cover;
          mask-size: cover;
}
.card-slide .carousel .carousel-item {
  height: 400px;
  width: 100%;
  border-radius: 4px;
}
.card-slide .carousel .carousel-item .img-attr {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-image: linear-gradient(360deg, #FF4E50 0%, #F9D423 100%);
          mask-image: linear-gradient(360deg, #FF4E50 0%, #F9D423 100%);
}
.card-slide .carousel .carousel-inner .carousel-item.active,
.card-slide .carousel .carousel-inner .carousel-item-next,
.card-slide .carousel .carousel-inner .carousel-item-prev {
  display: flex;
}
.card-slide .carousel .carousel-inner .carousel-item-right.active,
.card-slide .carousel .carousel-inner .carousel-item-next {
  transform: translateX(33%);
}
.card-slide .carousel .carousel-inner .carousel-item-left.active,
.card-slide .carousel .carousel-inner .carousel-item-prev {
  transform: translateX(-33%);
}
.card-slide .carousel .carousel-inner .carousel-item-right,
.card-slide .carousel .carousel-inner .carousel-item-left {
  transform: translateX(0);
}
.card-slide .card-info-step {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 1.5rem;
  border-radius: 5px;
  align-items: flex-start;
  justify-content: end;
}
.card-slide .card-info-step__btn {
  display: block;
  height: 20px;
  width: 70px;
  border: 0;
  padding-top: 4px;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #FF4E50;
}
.card-slide .card-info-step__big-text {
  width: 100%;
  padding-top: 2rem;
}
.card-slide .card-info-step__sm-text {
  width: 100%;
}

.container-parther {
  width: 940px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.card-partner {
  width: 23%;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-partner .avatar {
  position: relative;
  height: 126px;
  width: 126px;
  margin: 0 auto;
  margin-top: 35px;
}
.card-partner .avatar .img {
  display: block;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-mask-image: radial-gradient(circle 23px at calc(100% - 14px) calc(100% - 14px), transparent 44px, #000 0);
          mask-image: radial-gradient(circle 23px at calc(100% - 14px) calc(100% - 14px), transparent 44px, #000 0);
}
.card-partner .avatar .badge {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  right: 4px;
  bottom: 5px;
  display: block;
  text-align: center;
}
.card-partner .avatar .badge_red {
  background-color: #FF4E50;
}
.card-partner .avatar .badge_green {
  background-color: #19D4CA;
}
.card-partner .avatar .badge_yellow {
  background-color: #FFA710;
}
.card-partner .avatar .badge_blue {
  background-color: #667DF3;
}
.card-partner .avatar .circle-partner {
  height: 16px;
  width: 16px;
  zoom: 0.4;
  margin-left: -12px;
  color: #F7F3F2;
}
.card-partner .name {
  width: 100%;
}
.card-partner .country {
  width: 100%;
}
.card-partner__btn {
  display: block;
  height: 40px;
  width: 180px;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #FF4E50;
}

.block-img {
  width: 100%;
  height: 970px;
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-img .carousel {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-size: cover;
          mask-size: cover;
}
.block-img .carousel .carousel-inner {
  height: 100%;
  width: 100%;
}
.block-img .carousel .carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
}
.block-img .row-img {
  width: 100%;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  text-align: center;
}
.block-img .row-img__col30 {
  position: relative;
  width: 32%;
  height: 310px;
  background-color: #000;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}
.block-img .row-img__col70 {
  width: 66%;
  position: relative;
  height: 310px;
  background-color: #000;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}
.block-img .row-img__img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-image: #000;
          mask-image: #000;
  opacity: 0.8;
}
.block-img .row-img__img_mask-gray {
  -webkit-mask-image: #D8D8D8;
          mask-image: #D8D8D8;
}
.block-img .row-img__text {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.block-search {
  width: 482px;
  margin-top: 35px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.block-search .row-search {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
}
.block-search .row-search__inp-interest {
  width: 300px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
}
.block-search .row-search__btn {
  background: #FF4E50;
  border-radius: 40px;
}
.block-search .ta-center {
  text-align: center;
}
.block-search .ta-center {
  text-align: justify;
}

.list {
  display: block;
  /* убираем горизонтальные отступы */
  line-height: normal;
  /* и вертикальные*/
  letter-spacing: -1px;
}

.list-menu-item {
  margin: 10px auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
  color: #999999;
  list-style: none;
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 100px;
  border-top: 2px solid #FF4E50;
  padding-bottom: 50px;
}
.footer .block-footer {
  width: 100%;
  height: 100px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.footer .block-footer .row-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}
.footer .block-footer .col-footer {
  width: 24%;
  height: 100%;
}
.footer .block-footer .col-footer_col1-header {
  font-size: 1rem;
  font-weight: 400;
  color: #FF4E50;
  text-transform: uppercase;
}
.footer .block-footer .col-footer_col4-header {
  width: 100%;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #CCCCCC;
}
.footer .block-footer .col-footer_col4-img {
  width: 110px;
  height: 24px;
}

@media (max-width: 371.98px) {
  .header,
.header .carousel,
.header .carousel .carousel-item {
    height: 540px;
  }
  .menu-box {
    width: 80%;
  }
  .font-lg-header, .h-caption__row1 {
    font-size: 1.9rem;
  }
  .font-md-header, .h-caption__row2 {
    font-size: 1.1rem;
  }
  .font-button, .button__red, .block-search .row-search__btn {
    font-size: 0.9rem;
  }
  .button {
    width: 280px;
  }
  .font-row-caption, .row-caption {
    font-size: 1.4rem;
  }
  .h-caption__row1 {
    margin-top: 27px;
  }
  .h-caption__row2 {
    margin-top: 6px;
  }
  .h-caption__row3 {
    margin-top: 15px;
  }
  .container-main {
    width: 96%;
  }
  .row-caption_m-top-header {
    margin-top: 15px;
  }
  .card-slide {
    width: 100%;
  }
  .card-slide,
.card-slide .carousel,
.card-slide .carousel .carousel-item {
    top: 0;
    left: 0;
    height: 240px;
  }
  .container-parther {
    width: 96%;
  }
  .card-partner {
    width: 96%;
  }
  .card-partner .avatar {
    margin-top: 14px;
  }
  .block-img {
    height: auto;
  }
  .block-img .row-img {
    height: auto;
  }
  .block-img .row-img__col30 {
    margin-top: 10px;
    height: 120px;
    width: 100%;
  }
  .block-img .row-img__col70 {
    margin-top: 10px;
    width: 100%;
    height: 120px;
  }
  .block-search {
    width: 96%;
  }
  .block-search .row-search__btn {
    margin-top: 10px;
  }
  .ul.list {
    display: inline-block;
  }
  .list {
    display: inline-block;
    text-align: center;
    width: 50%;
    line-height: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
  }
  .list-menu-item {
    display: inline;
    padding: 5px;
    margin: 10px auto;
    line-height: normal;
  }
  .footer .block-footer .row-footer {
    justify-content: center;
    align-items: center;
  }
  .footer .block-footer .col-footer {
    width: 100%;
  }
  .footer .block-footer .col-footer_col1-header {
    text-align: center;
  }
  .footer .block-footer .col-footer_col2-3-header {
    text-align: center;
  }
  .footer .block-footer .col-footer_col4-header {
    text-align: center;
  }
  .m-t-38 {
    margin-top: 19px;
  }
}
@media (max-width: 575.98px) {
  .header,
.header .carousel,
.header .carousel .carousel-item {
    height: 540px;
  }
  .menu-box {
    width: 100%;
  }
  .font-lg-header, .h-caption__row1 {
    font-size: 1.9rem;
  }
  .font-md-header, .h-caption__row2 {
    font-size: 1.1rem;
  }
  .font-button, .button__red, .block-search .row-search__btn {
    font-size: 0.9rem;
  }
  .font-row-caption, .row-caption {
    font-size: 1.4rem;
  }
  .button {
    width: 280px;
  }
  .h-caption__rowdream {
    margin-top: 30px;
  }
  .h-caption__row1 {
    margin-top: 30px;
  }
  .h-caption__row2 {
    margin-top: 6px;
  }
  .h-caption__row3 {
    margin-top: 15px;
  }
  .row-caption_m-top-header {
    margin-top: 36px;
  }
  .container-main {
    width: 96%;
  }
  .card-slide {
    width: 100%;
  }
  .card-slide,
.card-slide .carousel,
.card-slide .carousel .carousel-item {
    margin-top: 0px;
    top: 0;
    left: 0;
    height: 240px;
  }
  .container-parther {
    width: 96%;
  }
  .card-partner {
    width: 100%;
  }
  .card-partner .avatar {
    margin-top: 14px;
  }
  .block-img {
    height: auto;
  }
  .block-img .row-img {
    height: auto;
  }
  .block-img .row-img__col30 {
    margin-top: 10px;
    height: 170px;
    width: 100%;
  }
  .block-img .row-img__col70 {
    margin-top: 10px;
    width: 100%;
    height: 170px;
  }
  .block-search {
    width: 96%;
  }
  .block-search .row-search__btn {
    margin-top: 10px;
  }
  .ul.list {
    display: inline-block;
  }
  .list {
    display: inline-block;
    text-align: center;
    width: 50%;
    line-height: 0;
    margin: 0;
    font-size: 0;
    /* убираем горизонтальные отступы */
    line-height: 0;
    /* ...и вертикальные в некоторых браузерах */
    letter-spacing: -1px;
  }
  .list-menu-item {
    display: inline;
    padding: 5px;
    margin: 10px auto;
    line-height: normal;
  }
  .footer .block-footer .row-footer {
    justify-content: center;
    align-items: center;
  }
  .footer .block-footer .col-footer {
    width: 100%;
  }
  .footer .block-footer .col-footer_col1-header {
    text-align: center;
  }
  .footer .block-footer .col-footer_col2-3-header {
    text-align: center;
  }
  .footer .block-footer .col-footer_col4-header {
    text-align: center;
  }
  .m-t-38 {
    margin-top: 19px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header,
.header .carousel,
.header .carousel .carousel-item {
    height: 700px;
    width: 100%;
  }
  .container-main {
    width: 90%;
  }
  .card-slide {
    width: 32%;
  }
  .card-slide,
.card-slide .carousel,
.card-slide .carousel .carousel-item {
    top: 0;
    left: 0;
    height: 400px;
  }
  .menu-box {
    width: 40%;
  }
  .container-parther {
    width: 492px;
  }
  .card-partner {
    width: 48%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header,
.header .carousel,
.header .carousel .carousel-item {
    height: 700px;
    width: 100%;
  }
  .container-main {
    width: 90%;
  }
  .menu-box {
    width: 30%;
  }
  .card-partner {
    width: 48%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header,
.header .carousel,
.header .carousel .carousel-item {
    height: 700px;
    width: 100%;
  }
  .menu-box {
    width: 25%;
  }
  .container-main {
    padding-top: 95px;
  }
}/*# sourceMappingURL=main.css.map */